body {
    font-family: sans-serif;
    margin: 0;
    overflow: hidden;
  }
  
  #container {
    position: absolute;
    top: 0;
    left: 180px;
    width: 100%;
    height: 100%;
    z-index: 1;
    border-right: 1px solid grey;
  }

/* sidebar */

  .sidebar {
    z-index: 10;
    margin: 0;
    padding: 0;
    width: 180px;
    background-color: #f1f1f1;
    border-right: 1px solid #d3d3d3;
    position: fixed;
    height: 100%;
    overflow: auto;
  }

  ul {
    list-style-type: none;
  }

  .form{
    z-index: 10;
    padding: 5px;
  }
  .form input{
    margin-bottom:6px;
  }

  #ui-entities, 
  #ui-ammo, 
  #ui-weapons, 
  #ui-powerups{
    position: absolute;
    z-index: 10;
    padding: 2px 4px 0px 4px;
    border: 1px solid #d3d3d3;
    text-align: center;
  }

  #ui-entities{
    top: 180px;
    left:40px;
  }
  #ui-powerups{
    top: 180px;
    left:100px;
  }
  #ui-ammo{
    top: 410px;
    left:40px;
  }
  #ui-weapons{
    top: 410px;
    left:100px;
  } 

  .icon{
    padding:2px;
    width: 24px;
    height: 24px;
  }

  .sub-title{
    position: relative;
    bottom: 10px;
  }

  .footer{
    z-index: 10;
    position: absolute;
    bottom: 5px;
    padding: 5px;
    margin: auto 0px;
    font-size: 12px;
    text-align:center;
  }